export TGI_HOST=192.168.0.202
export TGI_PORT=80
export TEI_HOST=192.168.0.203
export TEI_PORT=80
export VECTORDB_HOST=192.168.0.201
export VECTORDB_PORT=8000
export TGI_MODEL=Qwen/Qwen2-7B
export TEI_MODEL=BAAI/bge-large-en-v1.5
export STOP_TOKEN="<|im_end|>"
export HUGGINGFACEHUB_API_TOKEN="<hf_token_here>"
export TAVILY_API_KEY="<tavily_api_key_here>"
export STACK_OVERFLOW_API_KEY="<stack_exchange_api_key_here>"
