export TGI_HOST=192.168.0.201
export TGI_PORT=8080
export TEI_HOST=192.168.0.201
export TEI_PORT=8081
export VECTORDB_HOST=192.168.0.201
export VECTORDB_PORT=8000
export TGI_MODEL=microsoft/phi-1_5
export TEI_MODEL=BAAI/bge-large-en-v1.5
export STOP_TOKEN="<|im_end|>"