export TGI_HOST=131.151.90.37
export TGI_PORT=8080
export TEI_HOST=131.151.90.37
export TEI_PORT=8081
export RERANKER_HOST=131.151.90.37
export RERANKER_PORT=8082
export VECTORDB_HOST=131.151.90.37
export VECTORDB_PORT=8000
export STOP_TOKEN="<|endoftext|>"
export HUGGINGFACEHUB_API_TOKEN="hf_token"
export TAVILY_API_KEY="tavily_api_key"
export STACK_OVERFLOW_API_KEY="stack_exchange_api_key"
export PORTKEY_API_KEY="portkey_api_key"
export PORTKEY_PROVIDER="llm_provider_name"
export PORTKEY_CUSTOM_HOST="llm_provider_host_ip_and_port" #Only if LLM is locally hosted
