chromadb==0.5.3
datasets==2.20.0
langchainhub==0.1.20
stackapi==0.3.1
langchain==0.2.11
langchain_chroma==0.1.2
langchain_community==0.2.10
langchain_core==0.2.24
langchain_huggingface==0.0.3
langchain_openai==0.1.19
langchain_text_splitters==0.2.2
portkey_ai==1.7.0
streamlit==1.36.0

